[submodule "extern/LimeSuiteNG"]
	path = extern/LimeSuiteNG
	url = https://github.com/myriadrf/LimeSuiteNG.git
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/streampu"]
	path = extern/streampu
	url = https://github.com/aff3ct/streampu.git
[submodule "extern/PlatformFolders"]
	path = extern/PlatformFolders
	url = https://github.com/sago007/PlatformFolders.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/cpp-terminal"]
	path = extern/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal.git
