# SPDX-FileCopyrightText: 2023 Roland Schwarz <roland.schwarz@blackspace.at>
#
# SPDX-License-Identifier: CC0-1.0
#

[submodule "extern/LimeSuiteNG"]
	path = extern/LimeSuiteNG
	url = https://github.com/oe1rsa/LimeSuiteNG.git
[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/PlatformFolders"]
	path = extern/PlatformFolders
	url = https://github.com/sago007/PlatformFolders.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/cpp-terminal"]
	path = extern/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal.git
[submodule "extern/liquid-dsp"]
	path = extern/liquid-dsp
	url = https://github.com/oe1rsa/liquid-dsp.git
[submodule "extern/libtuntap"]
	path = extern/libtuntap
	url = https://github.com/LaKabane/libtuntap.git
[submodule "extern/libcorrect"]
	path = extern/libcorrect
	url = https://github.com/quiet/libcorrect.git
